.demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: violet;
    padding: 20px;
}

button:hover{
    background-color: blue;
}
.demo h1{
    font-size: 60px;
    font-weight:bold;
}